BOT_TOKEN=123456789:ABCdefGhIJKlmNoPQRsTuvwxyZ
ADMIN_IDS=12345678,87654321
VOTES_GROUP=-1001234567890
OPENBUDGET_URL=https://openbudget.uz/boards/initiatives/initiative/53/...
VOTE_PRICE=30000
REFERRAL_PRICE=1000
DB_URL=sqlite://db.sqlite3